<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/reset.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/global.css}" type="text/css">
    <title>Kotlin+SpringBoot Color Tools</title>
</head>
<body>

<h1><span class="l1">Kotlin+SpringBoot Color Tools</span></h1>

<h2>Tools:</h2>

<ul>
    <li><a href="css-colors.html">CSS Colors</a> &ndash; Browse and search the Cascading Style Sheets (CSS) colors</li>
</ul>

<div id="footer">Kotlin+SpringBoot (and Thymeleaf) demo application for some Color Tools &ndash; by <a href="https://andbin.it">andbin</a></div>

</body>
</html>
